In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
df = pd.read_csv('../data/green_tripdata_2019-09.csv', low_memory=False)
df2 = pd.read_csv('../data/taxi+_zone_lookup.csv', low_memory=False)

In [6]:
df.shape

(449063, 20)

In [7]:
df2.shape

(265, 4)

In [85]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny-taxi')

In [87]:
print(pd.io.sql.get_schema(df, name='test.green_tripdata_2019_09', con=engine))

CREATE TABLE "test.green_tripdata_2019_09" (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [6]:
print(pd.io.sql.get_schema(df2, name='test.taxi_zone_lookup', con=engine))

CREATE TABLE "test.taxi_zone_lookup" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [88]:
df_iter = pd.read_csv('../data/green_tripdata_2019-09.csv', iterator=True, chunksize=100000, low_memory=False)

In [90]:
from time import time
while True:
    try:
        start = time()
        chunk = next(df_iter)
        chunk['lpep_pickup_datetime'] = pd.to_datetime(chunk['lpep_pickup_datetime'])
        chunk['lpep_dropoff_datetime'] = pd.to_datetime(chunk['lpep_dropoff_datetime'])
        print("appending chunk with " + str(chunk.shape[0]) + " observations....")
        chunk.to_sql('green_tripdata_2019_09', engine, if_exists='append')
        end = time()
        print("done in " + str(end - start) + " seconds.")
    except StopIteration:
        print("Iteration is stopped.")
        break

appending chunk with 100000 observations....
done in 7.8143696784973145 seconds.
appending chunk with 100000 observations....
done in 7.830307960510254 seconds.
appending chunk with 100000 observations....
done in 7.682976961135864 seconds.
appending chunk with 100000 observations....
done in 7.84992790222168 seconds.
appending chunk with 49063 observations....
done in 3.269021987915039 seconds.
Iteration is stopped.

In [7]:
df2.to_sql('taxi_zone_lookup', engine, if_exists='append')

265